body {
	background: #e3e8ec url(../images/tile.png) repeat 50% 0;
}

#search{
	height: 50px;
	width: 10px;
	text-align: center;
	position: fixed;
	width: 240px;
	margin: 0 auto;
	z-index: 100;
	left: 50%;
	top: 0;
	margin-left: -130px;
	border-radius:0 0 5px 5px;
}

#photos-wrap{
	width: 810px;
	margin: 70px auto 40px auto;
	position: relative;
	z-index: 1;
}

